<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="shortcut icon" href="{{ bot.avatar }}">
<title>{{ bot.name }} - Dashboard</title>
<meta name="og:title" content="{{ bot.name }} - Dashboard">
<meta name="og:description" content="Introducing {{ bot.name }} the Discord Bot.
Add some /skill to your Discord server">
<meta name="og:image" content="{{ bot.avatar }}">
<meta name="og:author" content="Engineered by CutyCat2000">
<meta name="author" content="Engineered by CutyCat2000">
<meta name="keywords" content="dashboard, {{ bot.name }}, discord, bot, cutycat2000">
<meta name="description" content="Introducing {{ bot.name }} the Discord Bot.
Add some /skill to your Discord server">